@model Tuple<Ventas,Pedido>

<form method="post" asp-action="SetVentas" asp-controller="Ventas" id="SetVentas">
    <div class="row">
        <input type="hidden" asp-for="Item1.IdVenta" />

        <div class="form-group">
            <label>Cliente</label>
            <select asp-for="Item1.IdCliente" asp-items="@(new SelectList(ViewBag.Clientes,"IdCliente","Nombre"))" class="form-control">
                <option value="">Seleccione un Cliente...</option>
            </select>
            <span asp-validation-for="Item1.IdCliente" class="badge bg-danger"></span>
        </div>
        <div class="form-group">
            <label>Tipo Comprobante</label>
            <select asp-for="Item1.IdTipo" asp-items="@(new SelectList(ViewBag.Tipos,"IdTipo","Nombre"))" class="form-control">
                <option value="">Seleccione un Tipo de Comprobante...</option>
            </select>
            <span asp-validation-for="Item1.IdTipo" class="badge bg-danger"></span>
        </div>
        <div class="form-group">
        </div>

    </div>

    @*    <button type="submit" class="btn btn-success" data-dismiss="modal">Guardar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@

</form>
<hr />
<form method="post" asp-action="SetPedidos" asp-controller="Ventas" id="SetPedidos">
    <div class="row">
        <input type="hidden" asp-for="Item2.IdVenta" />
        <div class="form-group">
            <label>Producto</label>
            <select asp-for="Item2.IdProducto" id="select-productos" asp-items="@(new SelectList(ViewBag.Productos,"IdProducto","NombreProducto"))" class="form-control">
                <option value="">Seleccione un Producto...</option>
            </select>
            <span asp-validation-for="Item2.IdProducto" class="badge bg-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label>Cantidad</label>
            <input type="number" class="form-control" asp-for="Item2.Cantidad" />
            <span asp-validation-for="Item2.IdProducto" class="badge bg-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Stock</label>
            <input type="text" id="StockProd" placeholder="Stock" class="form-control" disabled />
        </div>
        <div class="form-group col-md-6">
            <label>Precio Unitario</label>
            <input type="text" id="PrecioProd" asp-for="Item2.PrecioUnitario" class="form-control" />
            <span asp-validation-for="Item2.IdProducto" class="badge bg-danger"></span>
        </div>

    </div>
    <div class="form-group">
        <label>Estado</label>
        <select asp-for="Item2.IdEstado" asp-items="@(new SelectList(ViewBag.Estado,"IdEstado","Nombre"))" class="form-control"></select>
        <span asp-validation-for="Item2.IdEstado" class="badge bg-danger mb-3"></span>
        <span asp-validation-for="Item2.IdProducto" class="badge bg-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="/Ventas/" class="btn btn-secondary">Close</a>


</form>
@if (ViewBag.Pedido != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th colspan="1">Accion</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Pedido pedido in ViewBag.Pedido)
            {
                <tr>
                    <td> @pedido.IdProductoNavigation.Nombre</td>
                    <td>@pedido.IdProductoNavigation.Descripcion</td>
                    <td>@pedido.Cantidad</td>
                    <td>@pedido.PrecioUnitario</td>
                    <td>@Math.Round(pedido.PrecioUnitario * pedido.Cantidad)</td>
                    <td><a asp-action="EliminarPedido" onclick="return confirm('¿Desea eliminar el Registro?')" asp-controller="Ventas" asp-route-id="@pedido.IdPedido" class="btn btn-danger">Eliminar</a></td>
                </tr>
            }

        </tbody>
    </table>
}